.container-admin {
  display: flex;
  margin-top: 90px;
  text-align: center;
}

.container-news {
  &.admin {
    margin-top: 50px;
  }

  .text-news-with-limit {
    max-width: 10ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.sourceOnNewsTable {
  border: none;
  outline: none;
  border-bottom: 1px solid $primaryColor;
  width: 50%;
  margin: 0;
  font-size: 0.75em;
}

.container-news > table > tbody > tr > td.action {
  div {
    button {
      background-color: transparent;
      border: none;
      width: auto;
    }
  }
}

@media screen and (min-width: $desktopBreakpoint) {
  .text-news-with-limit {
    max-width: 45ch;
  }

  .sourceOnNewsTable {
    margin: 0 16px;
    font-size: 1em;
  }
}
