@mixin primaryButton {
    background-color: $primaryColor2;
    border: 1px solid $primaryColor2;
    color: $white;
}

@mixin invertButton {
    background-color: $white;
    color: $primaryColor2;
    border: 1px solid $primaryColor2;
}

.container_auth {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo {
        margin-bottom: 20px;
    }

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            button {
                width: 80%;
                padding: 12px;
                margin: 8px;
                border: 1px solid $white;
                border-radius: 4px;
                background-color: $primaryColor2;
                color: $white;

                &:disabled {
                    opacity: 0.5;
                }
            }
        }
    }

    @media screen and (min-width: $desktopBreakpoint) {
        .logo {
            margin-bottom: 60px;

            img {
                width: 460px;
                height: 100px;
            }
        }

        .form {
            width: 25%;
            border: 1px solid $primaryColor;
            border-radius: 16px;

            form {
                width: 100%;

                input {
                    width: 58%;
                }

                button {
                    width: 60%;
                    cursor: pointer;

                    &.primary {
                        @include primaryButton();

                        &:hover {
                            @include invertButton();
                        }
                    }

                    &.invert {
                        @include invertButton();

                        &:hover {
                            @include primaryButton();
                        }
                    }
                }
            }
        }
    }
}