$fontRegular: "Biennale Regular";
$fontBold: "Biennale Bold";
$fontLight: "Biennale Light";

$primaryColor: #87ceeb;
$primaryColor2: #8096f6;
$primaryColor3: #6e9cd4;
$gray50: #fafafa;
$gray900: #171717;
$gray700: #404040;
$gray500: #737373;
$green1: #80f6d7;
$green2: #6ed2d4;
$white: #fff;
$red: #f00;

$desktopBreakpoint: 992px;
