$fontRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Biennale Light';

$primaryColor: #87CEEB;
$primaryColor2: #8096F6;
$primaryColor3: #6E9CD4;
$gray900: #171717;
$green1: #80F6D7;
$green2: #6ED2D4;
$white: #fff;

$desktopBreakpoint: 992px;